<div class="jumbotron center">
	<h1>Welcome to Knowsis</h1>
	<p>
		<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
		<%= link_to "Sign Up", "#", class: "btn-primary btn-lg" %>
	</p>
</div>
<h3>What Is Knowsis?</h3>
<p>Knowsis is a project designed to create learning communities around unseemly ideas to spark innovation, curiosity, and self knowledge.</p>