
<h1>Mission</h1>
	<p>Our goal is to enhance personal value through collaborative knowledge discovery.</p>
<h2>Personal Value</h2>
	<p>What gives meaning to your life? Think of yourself as a bank.<br>
		<li>Illustration here</li><br>
	Are your coffers full and bursting with money? Great.<br>
		<li>Illustration here</li><br>
	But what happens if you don't <strong>share</strong> that by circulating your money out in the world?<br>
		<li>Illustration here</li><br>
	Without circulation, those dollars are stagnant. If everyone did that, what would even be the point?<br>
	This circulation requires two things.<br>
	<li>You have to share some of your value with others to encourage them to share some of their value with you.</li>
	<li>And, you have to let the value of others in to you to maintain a healthy and stimulated economy.</li><br>
	
	Want to increase your personal value? Practice sharing and listening.
</p>

<h2>Collaboration</h2>
<p>Mind blown</p>

<h2>Knowledge</h2>
<p>Mind blown</p>

<h2>Discovery</h2>
<p>Mind blown</p>